.section-cubs{
padding: 60px 0;
}
.section-aplications{

}
.section-slider{

}
.section-map{
    background-color: #FAFAFA;
    padding: 50px 0;
}
.section-bank{
    padding: 40px 0;
    background: linear-gradient(167deg, hsl(0deg, 0%, 90%) 1%, hsl(0deg, 0%, 91%) 44%, hsl(0deg, 0%, 92%) 50%, hsl(0deg, 0%, 94%) 51%, hsl(0deg, 0%, 95%) 50%, hsl(0deg, 0%, 96%) 49%, hsl(0deg, 0%, 97%) 50%, hsl(0deg, 0%, 99%) 56%, hsl(0deg, 0%, 100%) 99%);
}
