<footer>
    <section class="footer-1">
        <div class="container">
            <ul class="footer-list">
                <li class="footer-item"><a class="footer__link" href="#">Оформить заявку</a></li>
                <li class="footer-item"><a class="footer__link" href="#"> О сервисе</a></li>
                <li class="footer-item"><a class="footer__link" href="#"> Отписаться
                </a></li>
                <li class="footer-item-2"><p>Телефон горячей линии </p> <p>8 (800) 222-22-22</p> 
                </li>
                <li class="footer-item-2">
                    <p> Время работы:</p>
                    <p> 10:00 – 19:00 МСК</p>
                </li>
                <li class="footer-item-img">
                    <img src="assets/images/footer/visa.png" alt="карта визы">
                </li>
                <li class="footer-item-img">
                    <img src="assets/images/footer/master.png" alt="карта мастер карт">
                </li>
                <li class="footer-item-img">
                    <img src="assets/images/footer/mir.png" alt="карта мир">
                </li>
            </ul> 
        </div>
    </section>
    <section class="footer-2">
        <div class="container">
            <div class="footer-2-container">
                <div class="footer-2__left">
                    <div id="ord1" class="footer-2-content close">
                        <div class="footer-2-content__title">Телефон горячей линии</div>
                        <div class="footer-2-content__subtitle">
                            8 (800) 222-22-22
                        </div>
                    </div>
                    <div id="ord2" class="footer-2-content ">
                        <div class="footer-2-content__title ">E-mail </div>
                        <div class="footer-2-content__subtitle">support@carmoney.ru </div>
                    </div>
                    <div id="ord3" class="footer-2-content close">
                        <div class="footer-2-content__title">Время работы</div>
                        <div class="footer-2-content__subtitle">10:00 – 19:00 МСК</div>
                    </div>
                
                    <div id="ord4" class="footer-2-content ">
                        <div class="footer-2-content__title ">Почтовый адрес</div>
                        <div class="footer-2-content__subtitle">119019, г. Москва, ул. Воздвиженка д. 9, стр. 2, пом. 1</div>
                    </div>
    
                </div>
                <div class="footer-2__rigth">
                    <div class="footer-2-circle">18 +</div>
                    <div class="footer-2-rigth__text">Сервис предназначен для лиц старше 18 лет</div>
                </div>
            </div>
        </div>

    </section>
    <section class="footer-3">
        <div class="container">
            <p>* У пользователей сервиса есть возможность получить займ с минимальной процентной ставкой 0%. Подробности при выборе персонального предложения. Займ у партнеров выдается в российских рублях гражданам Российской Федерации, на банковский счет, на карту или наличными.Минимальная сумма займа: 1 000 рублей. Максимальная сумма
                займа: 100 000 рублей. Процентная ставка: от 0% годовых до 365% годовых, срок займа от 7 до 30 дней включительно.
                </p>
                <p>
                    Услугу сервиса платного подбора займов «meni-bank.online» предоставляет ООО МФК «КарМани» ОГРН 1107746915781, ИНН 7730634468 
                </p>   
                <a class="btnNew" href="#">ООО МФК «КарМани» является оператором персональных данных Приказ № 387-нд от 03.11.2014</a>
        </div>
    </section>
    <section class="footer-4">
        <div class="container">
            <p><span>Внимание!</span>  Платная подписка на подбор займов: стоимость подписки (далее по сайту — Активация сервиса) составляет 499 (четыреста девяносто девять) руб. каждые 5 дней (периодичность определяется тарифами сервиса и соглашением о применении рекуррентных платежей). Активация сервиса не гарантирует 
            вам получение займа. 
            </p>
            <div class="footer-4-text">
                Перечень кредитных организаций осуществляющих предоставление займов
                <img id="ar" src="assets/images/ar.png" alt="стрелка вниз">
            </div>
        </div>

    </section>
    <section class="footer-5">
        <div class="container">
            <div class="footer-5__text">
                <div class="footer-5__title">Займ-Экспресс</div>
                <div class="footer-5__subtitle">ООО МКК «Займ-Экспресс»; ОГРН 1117746180870. Лицензия № 2110177000440. Юридический адрес: 123376, г. Москва, пер. Большой Трехгорный, д. 1/26, стр. 7. Процентная ставка: минимальная годовая процентная ставка - 0%, максимальная годовая процентная ставка - 365,0%.</div>
            </div>
            <div class="footer-5__text">
                <div class="footer-5__title">ЭкоЗайм24</div>
                <div class="footer-5__subtitle">ООО МКК «ФИНАНСОВЫЙ АСПЕКТ»; ОГРН 1203800012294. Лицензия № 2004125009640. Юридический адрес: 443090, ОБЛАСТЬ САМАРСКАЯ, ГОРОД САМАРА, УЛИЦА
                    СОВЕТСКОЙ АРМИИ, 180/3, ОФИС 609. Процентная ставка: минимальная годовая процентная ставка - 365,0%, максимальная годоваяпроцентная ставка - 365,0%.
                </div>
            </div>
        </div>
    </section>
</footer>
