<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__sticky">
        <div class="box">
          <div id="burger-menu" class="btn not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-content header_bg">
    <div class="container">
      <nav class="header-menu menu">
        <ul class="menu__list tabs">
          <li class="menu__item active"><a class="menu__link" href="#">О сервисе</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Оплата и безопасность</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Документы</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Контакты и помощь</a></li> 
        </ul>
      </nav>
      <div class="tabs-content ">
        <div class="tabs-panel active" data-index="0">
          <div class="tabs-container">
            
              <div class="tabs-container__box"> 
                <div class="pink-line"></div>
                <h3 class="tabs-container__title ">О сервисе</h3>
              </div>
              <ul class="tabs-container__list">
                <li class="tabs-container__item"> Сервис «carmoney.ru» оказывает платные услуги по подбору кредитных продуктов для клиентов, а именно предлагает клиенту список предложений кредитных учреждений, и прочих финансовых организаций, в которые клиент может обратиться с целью оформления заявки на кредитный продукт.</li>
                <li class="tabs-container__item">Комиссия сервиса списывается с привязанной пользователем банковской карты. Сервис не является банком или кредитором, не относится к финансовым учреждениям и не несёт ответственности за последствия любых заключенных договоров кредитования или условия по ним</li>
                <li class="tabs-container__item">Персональные данные защищены. Вся указанная информация находится в безопасности. Мы не передаём персональные данные третьим лицам. Никто кроме вас не имеет доступ к информации которую вы заполнили на сайте.</li>
                <li class="tabs-container__item"> Услуга обработки заявки является платной и составляет от 11 до 499 руб.. Списания по подписке производятся раз в 5 дней. Сумма списаний не может превысить 1000 рублей в месяц. Подробная информация в договоре публичной оферты.</li>
                <li class="tabs-container__item">Если услуга перестала быть актуальна для вас, вы можете самостоятельно отписаться от услуги в любой момент — Отписаться.</li>
                <li class="tabs-container__item">Услуги на проекте оказываются ООО МФК «КарМани» ОГРН 1107746915781, Оператор персональных данных Приказ № 387-нд от 03.11.2014. Фактический адрес: 119019, г. Москва, ул. Воздвиженка д. 9, стр. 2, пом. 1 </li>
              </ul>
              <div class="tabs-container__box"> 
                <div class="pink-line"></div>
                <h3 class="tabs-container__heading">Описание условий возврата</h3>
              </div>
              <p class="tabs-container__text">Возврат осуществляется на основании заполненного заявления. Для того, чтобы осуществить возврат, необходимо отправить заявку на почту support@carmoney.ru и получить инструкцию от менеджера нашего сервиса. Либо осуществить возврат можно в автоматическом режиме в личном кабинете клиента.</p>
              <p class="tabs-container__text"> Если покупка была оплачена банковской картой, средства будут возвращены на карту, с которой была совершена оплата в течение 30 календарных дней с даты заполненного заявления на возврат</p>
              <div class="tabs-container__box"> 
                <div class="pink-line"></div>
                <h3 class="tabs-container__heading">Политика возврата платежей</h3>
              </div>
              <p class="tabs-container__text">Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки, возврат производится исключительно на ту же банковскую карту, с которой была произведена оплата.</p>
          </div>
        </div>
        <div class="tabs-panel" data-index="1">
          <div class="tabs-container">
            <div class="tabs-container__box"> 
              <div class="pink-line"></div>
              <h3 class="tabs-container__title ">Оплата и безопасность</h3>
            </div>
            <div class="tabs-container__box"> 
              <h3 class="tabs-container__heading tabs-container__heading_pink">Уважаемый клиент!</h3>
            </div>
            <p class="tabs-container__text">Вы можете оплатить свою услугу онлайн с помощью банковской карты через платежный сервис. После подтверждения услуги Вы будете перенаправлены на защищенную платежную страницу, где необходимо будет ввести данные для оплаты услуги. После успешной оплаты на указанную в форме оплаты электронную почту будет направлен электронный чек с информацией об услуге и данными по произведенной оплате.</p>
            
            <div class="tabs-container__box"> 
              
              <h3 class="tabs-container__heading tabs-container__heading_pink">Гарантии безопасности</h3>
            </div>
            <p class="tabs-container__text">Безопасность процессинга подтверждена сертификатом стандарта безопасности данных индустрии платежных карт PCI DSS. Надежность сервиса обеспечивается интеллектуальной системой мониторинга мошеннических операций, а также применением 3D Secure - современной технологией безопасности интернет-платежей. Данные Вашей карты вводятся на специальной защищенной платежной странице. Передача информации в процессинговую компанию происходит с применением технологии шифрования TLS. Дальнейшая передача информации осуществляется по закрытым банковским каналам, имеющим наивысший уровень надежности.</p>
        </div>     
        </div>
        <div class="tabs-panel" data-index="2">
          <div class="tabs-container">
            <div class="tabs-container__box"> 
              <div class="pink-line"></div>
              <h3 class="tabs-container__title ">Документы</h3>
            </div>
           <div class="tabs-container-doc">
           <div class="tabs-container-doc__title">
              Заполняя анкету на нашем сервисе Вы соглашаетесь с условиями <br> и соглашениями указанными на сайте.
             </div>
             
               <ul class="tabs-container-doc__list">
                 <li class="tabs-container-doc__item"><img class="tabs-container-doc__img" src="assets/images/imgDoc.svg" alt=""><a class="tabs-container-doc__link" href="">Политика обработки персональных данных</a></li>
                 <li class="tabs-container-doc__item"><img class="tabs-container-doc__img" src="assets/images/imgDoc.svg" alt=""><a class="tabs-container-doc__link" href=""> Публичная оферта и действующие тарифы</a></li>
                 <li class="tabs-container-doc__item"><img class="tabs-container-doc__img" src="assets/images/imgDoc.svg" alt=""><a class="tabs-container-doc__link" href="">Согласие на обработку персональных данных</a></li>
                 <li class="tabs-container-doc__item"><img class="tabs-container-doc__img" src="assets/images/imgDoc.svg" alt=""><a class="tabs-container-doc__link" href="">Соглашение о применении Рекуррентных платежей</a></li>
                 <li class="tabs-container-doc__item"><img class="tabs-container-doc__img" src="assets/images/imgDoc.svg" alt=""><a class="tabs-container-doc__link" href=""> Согласие на получении рекламных материалов</a></li>
               </ul>
           </div>
        </div>
        </div>
        <div class="tabs-panel" data-index="3">
          <div class="tabs-container">  <div class="tabs-container__box"> 
            <div class="pink-line"></div>
            <h3 class="tabs-container__title">Контакты и Помощь</h3>
          </div>
          <div class="tabs-form-container">
            <form class="form-tabs">
              <div class="form-tabs__title">Обратная связь</div>
              <div class="form-tabs__subtitle">Если у вас процессе пользования нашим сервисом возникли вопросы, наши специалисты готовы вам помочь</div>
              <input class="form-tabs__input" type="text" placeholder="Ваше Имя">
              <input class="form-tabs__input" type="text" placeholder="Ваш E-mail">
              <textarea class="form-tabs__input" name="" id=""  placeholder="Ваше сообщение"></textarea>
              <a class="btnNew" href="#">отправить</a>
              <a class="btnNew btnNew_blue" href="#">Написать в telegramm</a>
              <div class="form-tabs-bot">
                <div class="form-tabs-bot_item">
                  <img src="assets/images/vectorTel.png" alt="">
                  <a class="form-tabs-bot__link" href="tel:88002222222">8 (800) 222-22-22</a>
                </div>
                <div class="form-tabs-bot_item">
                  <img src="assets/images/vectorMail.png" alt="">
                <a class="form-tabs-bot__link" href="mail:support@carmoney.ru ">support@carmoney.ru </a>
                </div>               
                
              </div>
            </form>
            <div class="tabs-form-cotainer__text connection">
              <div class="connection-container">
                <div class="connection-container__img">
                  <img src="assets/images/tel.png" alt="Иконка телефона">
                </div>
                <div class="connection-container__text">
                  <div class="connection-container__title">Телефон горячей линии</div>
                  <div class="connection-container__subtitle">
                    <a href="tel:88002222222">8 (800) 222-22-22</a>
                  </div>
                </div>             
              </div>
              <div class="connection-container">
                <div class="connection-container__img">
                  <img src="assets/images/mail.png" alt="Иконка почты">
                </div>
                <div class="connection-container__text">
                  <div class="connection-container__title">E-mail </div>
                  <div class="connection-container__subtitle">
                    <a href="mail:support@carmoney.ru ">support@carmoney.ru </a>
                  </div>
                </div>            
              </div>

            </div>
          </div>    </div>
          
        </div>
      </div>
    </div>
  </div>
</header> 



